<div class="container">
    <h4 align="center">Add User</h4>
    <hr>
    <div class="col-lg-8">
        <form class="myForm" (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group row">
                <label for="fname" class="col-sm-4 col-form-label">First Name:</label>
                <div class="col-sm-8">
                    <input id="fname" class="form-control" placeholder="First Name" #newfirstName>
                </div>
            </div>
            <div class="form-group row">
                <label for="lname" class="col-sm-4 col-form-label">Last Name:</label>
                <div class="col-sm-8">
                    <input id="lname" class="form-control" placeholder="Last Name" #newlastName>
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-4 col-form-label">Email:</label>
                <div class="col-sm-8">
                    <input class="form-control" id="email" placeholder="Email" #newemail required email>
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-4 col-form-label">Password:</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="password" placeholder="Password" #password>
                </div>
            </div>
            <div class="form-group row">
                <label for="cPassword" class="col-sm-4 col-form-label">Password:</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="cPassword" placeholder="Password" #cPassword>
                </div>
            </div>
            <div class="btnGrp">
                <button type="button"(click)="addUser(newfirstName, newlastName, newemail, password)"
                        class="btn btn-success addUser"
                [disabled]="f.invalid">Add User</button>
                <!--<button type="submit" class="btn btn-success addUser">Add User</button>-->
                <button type="button" class="btn btn-danger cancel" (click)="onCancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>
